/Unidad03/RegistrosMedicos317/nbproject/private/
/Unidad03/RegistrosMedicos317/build/
/Unidad03/ClaseEstudiante44/nbproject/private/
/Unidad04/Estudiante44/nbproject/private/
/Unidad04/Estudiante44/build/
/Unidad04/PromedioClase48/nbproject/private/
/Unidad04/PromedioClase48/build/
/Unidad04/PromedioClase410/nbproject/private/
/Unidad04/PromedioClase410/build/
